%h1 About
%p Right now it's just me. You can find my website at higgins-cassidy.com
%p f.ragment is a boardgame that was brought to the web by the magic of Ruby on Rails and json. 
%p The website is open source, feel free to take a look at it on GitHub

