%h1 Welcome to f.ragment
.home_message
  %p
    Welcome to f.ragment!
    = link_to 'Register', new_user_registration_path
    to create & play games, make friends, and engage with f.ragment
  %p
    Already have an account? You can 
    = link_to 'Login', new_user_session_path
    to start or resume playing!