%h1 Privacy Policy
.home_message
  %p Here at f.ragment we respect your privacy. We have no interest in your data.
  %h2 Passwords
  %p Passwords are encrypted on our database, and we promise to notify you in case of a detected breach.
  %h2 Email
  %p We promise not to sell your email, and we won't even send you updates by default! Additionally it will be kept confidential here on f.ragment unless you choose to share it. 
  %h2 Tracking & Cookies
  %p We set cookie information purely for preferences and login sessions. Having them enabled is required to stay logged in, and staying logged in is required to play. You can log out whenever you like, and we promise not to track your activity that isn't part of the f.ragment game. 
  