%h1 Terms of Service
%p f.ragment is totally free, in fact, you can't buy things to improve your game performance, even if you wanted to! However, by playing and using our software you do a few things:
%ul
  %li You agree to not attempt to circumvent or exploit the rules of the game
  %li You agree that use of f.ragment is presented AS IS with no guarentees
  %li You agree that any physical, emotional, or mental damage that results from the use or access of f.ragments is entirely your own, and agree not to make us party to that in any way. 
  %li You acknowledge that you will not, to the best of your ability, be mean to anyone or really be anything other than phenominally nice. 
  %li You won't sue us. For any reason. Seriously, why would yo do that? We've got no money!
  %li Nickleback is a pretty bad band. You will stop listening to them. 
  %li If you want to give us legal advice about this message, you will not charge us for it. See the point about no money above. 

