.action_card
  .card_vert_spacer
  .action_card_name
    = card.name
  .action_card_image
    = image_tag(card.get_image())
  .card_horz_spacer
  .action_card_body
    = card.description
  .card_vert_spacer